.div-layout {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .panel-heading {
        color: azure !important;
        transition: all 1s;
        min-width: 260px;
        min-height: 100px;
        position: relative;

        h4 {
            margin-bottom: 16px;
        }

        h3 {
            margin: 0;
            color: azure !important;
        }

        .div-position {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.175);
            right: 20px;
            top: 20px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    .panel-heading:hover {
        transform: scale(1.1);
    }
}


.panel {
    margin-bottom: 0;
}

.panel-one {
    background-image: linear-gradient(to left, rgb(9, 145, 224), rgb(72, 171, 236));
}

.panel-two {
    background-image: linear-gradient(to left, rgb(10, 221, 38), rgb(92, 230, 99));
}

.panel-three {
    background-image: linear-gradient(to left, rgb(247, 162, 6), rgb(221, 175, 76));
}

.panel-four {
    background-image: linear-gradient(to left, rgb(179, 20, 241), rgb(227, 109, 243));
}



.div-layout-chat {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .div-flex-1 {
        flex: 3;
    }

    .div-flex-2 {
        flex: 2;

    }
}

.div-rad {
    color: azure;
    text-align: center;
    border-radius: 20%;
    width: 24px;
    height: 24px;
    background-color: red
}

.shop {
    display: flex;
    flex-wrap: wrap;

    .shop_left {
        flex: 5;
    }

    .shop_right {
        margin-left: 16px;
        flex: 3;

        .div-flex {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .div-img {
                position: relative;
                background-color: rgba(201, 197, 195, 0.875);
                width: 50px;
                height: 50px;
                border-radius: 50%;

                img {
                    left: 50%;
                    top: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    min-width: 28px;
                    min-height: 28px;
                }
            }

            .div-info {
                flex: 3;
                margin-right: 16px;
                margin-left: 16px;
                border-right: 1px solid rgb(192, 186, 186);

                h5 {
                    display: inline;
                    margin-right: 4px;
                    text-align: right;
                }
            }

            .div-score {
                flex: 2;
                text-align: center;

                h5 {
                    display: inline;
                    margin-right: 4px;
                    text-align: right;

                }
            }


        }
    }
}